/* reset */
*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

nav,ul{
	list-style: none;
}

a{
	text-decoration: none;
	cursor: pointer;
	opacity: 0.9;
}

a:hover{
	opacity: 1;
}
/* end reset */

/* header */
header{
	display: flex;
	flex-direction: column;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 999;
}

.position-sticky{
	position: sticky;
}

/* social medias */
.social-medias{
	list-style: none;
	background: #2f473c;
	top: 0;
	left: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 15px;
}

.social-medias li{
	margin: 2px 2px;
	background-color: #54bf72;
	border-radius: 100%;
}

.social-medias li:hover{
	background-color: #e9ffee; 
}

.social-medias li a{
	color: #e9ffee;
	font-size: 1.3rem;
	padding: 1px 5px 1px 5px;
}

.social-medias li a:hover{
	color: #54bf72;
	font-size: 1.2rem;
}
/* end social medias */

/* start nav */
.nav{
	background: linear-gradient(to right,#fff,#e9ffee,#fff);
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
}

.nav-logo{
	background-image: url(../assets/images/navlogo-luan.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 180px;
	height: 80px;
	font-size: 0;
	opacity: 1;
	transition: 0.5s;
}

.nav-logo:hover{
	background: url(../assets/images/navlogo-luan-hover.png);
}

.nav nav{display: flex;}
.nav li a{color: #22875b;}
.nav li a:hover{font-weight: 600;}
.nav li{margin: 0 15px;}
.nav li:first-child{margin-left: 0;}
.nav li:last-child{margin-right: 0;}

.btn-openMenu{
	font-size: 1.8rem;
	background-color: #22875b;
	color: #e9ffee;
	padding: 0 7px 0 7px;
	border: none;
	display: none;
	cursor: pointer;
}

.btn-closeMenu{
	font-size: 1.8rem;
	background-color: #22875b;
	color: #e9ffee;
	padding: 0 11px 0 11px;
	border: none;
	display: none;
	cursor: pointer;
}
/* end nav */
/* end header */

/* start banner */
.banner{
	background-image: url(../assets/images/banner-bg.png);
	background-size: cover;
	min-height: 100vh;
	color: #e9ffee;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.banner h1{
	font-size: 3.2rem;
}

.banner h2{
	margin-top: 10px;
	font-size: 2rem;
	text-transform: lowercase;
}

.banner h3{
	font-size: 1.5rem;
	text-transform: lowercase;
}

.banner h3::before{
	content: 'echo';
	font-size: 3rem;
	margin-right: 10px;
	opacity: .3;
}

.banner h3::after{
	content: ';';
	font-size: 3rem;
	margin-left: 10px;
	opacity: .3;
}

.banner h4{
	font-size: 1.1rem;
	text-transform: lowercase;
	margin-bottom: 15px;
}

.banner .img{
	background-image: url(../assets/images/avatar.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 230px;
	height: 215px;
	padding: 112.5px;
	border-radius: 100%;
	border: 6px #22875b solid;
	cursor: pointer;
	transition: .3s;
}

.banner .img:hover{
	background-image: url(../assets/images/avatar-hover.jpg);
	border-color: #b4f3c3;
}

.banner .texto{
	margin-bottom: 10px;
	padding: 0 15% 0 15%;
	font-style: italic;
	font-size: 1.1rem;
	background-color: rgba(0,0,0,.3);
}

.banner .texto::before{
	content: '';
	display: block;
	position: relative;
    background-image: url(../assets/images/aspas1.png);
    background-repeat: no-repeat;
    width: 85px;
    height: 85px;
    opacity: .2;
}

.banner .texto::after{
	content: '';
	display: block;
	position: relative;
	float: right;
    background-image: url(../assets/images/aspas2.png);
    background-repeat: no-repeat;
    width: 85px;
    height: 85px;
    opacity: .2;
}
/*end banner */

/* start projects */
#projects{
	background-image: url(../assets/images/banner-bg.png);
	background-size: cover;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.section-title{
	background-color: #22875b;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	border-top: 3px solid #e9ffee;
}

.section-title h1{
	color: #e9ffee;
	font-size: 2.5rem;
	text-transform: lowercase;
}

.section-title h4{
	color: #e9ffee;
	font-size: 2rem;
}

div .container-slide{
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #154f36;
	padding: 5%;
	border-radius: 6px;
	margin-top: 15px;
}

.container-slide h1{
	background-color: #e9ffee;
	color: #22875b;
	font-size: 2rem;
	padding: 0 10px 0 10px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 8px;
	margin: 20px;
}

.container-slide h2{
	background-color: #e9ffee;
	color: #22875b;
	font-size: 2rem;
	text-align: center;
	border-radius: 8px;
}

.container-slide a{
	color: #22875b;
}

.container-slide h3{
	color: #e9ffee;
	font-size: 1rem;
	padding: 5px;
	text-transform: lowercase;
	font-style: italic;
	text-align: center;
	margin: 5px;
	font-weight: 400;
}

.slide-img{
	display: flex;
	align-items: stretch;
	border-radius: 20px;
	margin-bottom: 15px;
	width: 100%;
	height: 100%;
}

.slider-projects .slick-arrow{
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	z-index: 999;
}

.slider-projects .slick-next{
	right: 40px;
}

.slider-projects .slick-next::before{
	content: "";
	background-image: url('../assets/images/next-icon.png');
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
}

.slider-projects .slick-prev{
	left: -10px;
}

.slider-projects .slick-prev::before{
	content: "";
	background-image: url('../assets/images/prev-icon.png');
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
}

/* end projects */

/* media screens */
@media (max-width: 768px){
	.banner{padding-bottom: 5%;}
	.social-medias{justify-content: center;}
	.nav{flex-direction: column; border-bottom: 3px solid #22875b; padding: 0;}
	.nav nav{flex-direction: column; background-color: #22875b; width: 100%;}
	.nav nav li{margin:0; padding: 5px;}
	.nav nav li a{color:#e9ffee;}
	.banner h3::before{font-size: 2rem;}
	.banner h3::after{font-size: 2rem;}
	.banner h3{font-size: 1.5rem; padding: 2px;}
	.btn-openMenu{display: block;}
	.nav .mobile-d-none{display: none;}
	.mobile-d-block{display: block;}
	.slide-img{width:100%;height: 100%;}
}

